[Desktop Entry]
Encoding=UTF-8
Name=Graveman
Name[cs]=Graveman
Name[de]=Graveman
Name[fr]=Graveman
Name[pt_BR]=Graveman
Name[es]=Graveman
Name[lt]=Graveman
Name[nl]=Graveman
Name[ru]=Graveman
Name[pl]=Graveman
Name[it]=Graveman
Name[sv]=Graveman
Name[no]=Graveman
Name[hu]=Graveman
Name[ja]=Graveman
GenericName=CD Creator
GenericName[cs]=CD/DVD vypalovací program
GenericName[de]=CD ersteller
GenericName[fr]=Créateur de CD/DVD
GenericName[pt_BR]=Criador de CD
GenericName[es]=Creador de CD
GenericName[lt]=CD kūrimo bei rašymo programa
GenericName[nl]=CD Schepper 
GenericName[ru]=Программа для создания CD
GenericName[pl]=Program do nagrywania płyty CD/DVD
GenericName[it]=Creatore di CD
GenericName[sv]=CD Skapare
GenericName[no]=CD Brenner
GenericName[hu]=CD/DVD íróprogram
GenericName[ja]=CD/DVD作成ツール
Comment=Create and copy data and audio CD
Comment[cs]=Vytváří a kopíruje datová a hudební CD/DVD
Comment[de]=erstellt und kopiert Daten und Audio-CDs
Comment[fr]=Crée et copie des CD audio et des CD/DVD de données
Comment[pt_BR]=Cria e copia CDs de dados e audio
Comment[es]=Crea y copia CDs de datos y de audio
Comment[lt]=Kurkite bei kopijuokite duomenų ir muzikinius CD
Comment[nl]=Creëer en kopiëer gegevens en audio CDs
Comment[ru]=Создаёт и копирует компакт-диски
Comment[pl]=Pozwala tworzyć i kopiować płyty CD/DVD z danymi i muzyką
Comment[it]=Crea e copia CD dati, audio e DVD
Comment[sv]=Skapa och kopiera data och ljud CD
Comment[no]=Lage og kopiere data og lyd CD/DVD
Comment[hu]=Adat és Audio CD/DVD létrehozása és másolása egyszerűen
Comment[ja]=データ/オーディォCDの作成やコピー
Exec=graveman
Terminal=false
Type=Application
Icon=graveman48.png
Categories=GNOME;KDE;GTK;Application;Multimedia;AudioVideo;DiscBurning
